aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
idna==2.9
multidict==4.7.5
Pillow==9.0.1
uvloop==0.14.0
yarl==1.4.2

torch~=1.5.0
torchvision~=0.6.0
tqdm~=4.28.1
pandas~=1.0.1
argparse~=1.4.0